<h1>User details</h1>
<%= render "user" %>
<ul>
  <li>
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </li>
  <%= render "posts" %>
</ul>
<button><%= link_to "See all posts", [@user, :posts] %></button>
